.about {
    grid-column: 2/12;

    padding: var(--gap) 0;
}

.about__title {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-l);
    line-height: var(--line-height-normal); 
    text-align: center;
}

.about__description {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--gap);
}

.about__description-title {
    grid-column: 1/8;

    font-size: var(--font-size-m);
    line-height: var(--line-height-120); 
}

.about__description-paragraph {
    grid-column: 6/13;

    margin: 8rem 0 8rem 0;

    font-size: var(--font-size-m);
    line-height: var(--line-height-120); 
    color: var(--dark-grey);
}

.about__experience-title {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
}

.about__experience-title-content {
    font-size: var(--font-size-m);
}

.about__experience-title-content:nth-of-type(1) {
    grid-column: 1/7;
}

.about__experience-title-content:nth-of-type(2) {
    grid-column: 7/13;
    
    text-align: left;
}

.about__experience-list {
    margin: 4rem 0 8rem 0;
}

.about__experience-list-item-button {
    width: 100%;

    display: grid;
    grid-template-columns: var(--grid-template-columns);
    align-items: center;

    padding: var(--gap) 0;

    border-top: var(--border);
    border-right: none;
    border-bottom: none;
    border-left: none;

    background-color: transparent;
}

.about__experience-list-item-button-content:nth-of-type(1) {
    grid-column: 1/7;

    font-size: var(--font-size-s);
    text-align: left;
}

.about__experience-list-item-button-content:nth-of-type(2) {
    grid-column: 7/13;

    font-size: var(--font-size-s);
    text-align: left;
}

.about__experience-list-item-button-content-ampersand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about__experience-list-item-panel {
    max-height: 0;

    overflow: hidden;

    display: grid;
    grid-template-columns: var(--grid-template-columns);

    transition: all .25s ease-in-out;
}

.about__experience-list-item-panel-link {
    width: fit-content;
    height: fit-content;

    grid-column: 1/7;
    display: flex;

    margin: 1rem 0 2rem 0;
    padding: .6rem .8rem;

    border: var(--border);
    border-radius: var(--border-radius-l);

    background-color: var(--white);

    font-size: var(--font-size-s);
    color: var(--dark-grey);
}

.about__experience-list-item-panel-link-arrow {
    margin-left: .5rem;
}

.about__experience-list-item-panel-paragraph {
    grid-column: 7/13;

    margin: 1rem 0 2rem 0;
    
    font-size: var(--font-size-s);
    line-height: 130%;
    color: var(--dark-grey);
}

